<section class="col-6-lg col-12-md col-12-sm">
    <div id="meeting" class="jitsi-room"></div>
</section>
<script>
    let height = window.screen.height / 2;
    const domain = 'meet.jit.si';
    let options = {
        roomName : "TimesUp",
        height: height,
        parentNode: document.querySelector('#meeting')
    }
    api = new JitsiMeetExternalAPI(domain, options);
</script>
