<section class="container">
    <div class="row">
        <div id="meeting" class="col-6 jitsi-room"></div>
        <div class="col-6">
            <p class="row"> Sala del Juego</p>
            <div class="row">

            </div>
        </div>

    </div>
</section>
<script>
    let height = window.screen.height / 2;
    const domain = 'meet.jit.si';
    let options = {
        roomName : "TimesUp",
        height: height,
        parentNode: document.querySelector('#meeting')
    }
    api = new JitsiMeetExternalAPI(domain, options);
</script>
