<div id="messages"></div>
<div id="preguntas">
</div>
<div id="respuestas">
</div>
<form class="form" id="pedir-pregunta">
    <input type="text" id="nickname" placeholder="nickname here">
    <input type="submit" name="pedir-pregunta" value="pedir-pregunta" id="ask-for-question">
</form>
<div id="controls">
            <form class="form-respuesta" id="devolver-respuesta">
            <input type="text" id="respuesta" placeholder="respuesta">
            <input type="submit" name="responder-pregunta" value="responder pregunta" id="responder-pregunta">
        </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src='/javascripts/socket.js'></script>