
<div class="container">
    <div class="row">
        <p class="col-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
    </div>
    <div class="row">
        <p class="col-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores explicabo nisi cupiditate delectus totam voluptates, ex quia!</p>
        <p class="col-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
    </div>
    <div class="row">
        <p class="col-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores explicabo nisi cupiditate delectus totam voluptates, ex quia!</p>
        <p class="col-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores explicabo nisi cupiditate delectus totam voluptates, ex quia!</p>
        <p class="col-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores explicabo nisi cupiditate delectus totam voluptates, ex quia!</p>
        <p class="col-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda minima quibusdam magni voluptatem nulla ut, laboriosam id?</p>
        <p class="col-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores explicabo nisi cupiditate delectus totam voluptates, ex quia!</p>
    </div>
</div>

