<section>

<noscript>
    Tu navegador no tiene activado JavaScript.
</noscript>
<script src='../public/javascripts/scriptsd.js'></script>
<audio id="fin" src="images/fin.ogg"></audio>
<audio id="azulA" src="images/azul.ogg"></audio>
<audio id="verdeA" src="images/verde.ogg"></audio>
<audio id="rojoA" src="images/rojo.ogg"></audio>
<audio id="amarilloA" src="images/amarillo.ogg"></audio>

<img id="simon" class="hidden" src="images/simon.png"></img>
<img id="azul" class="hidden" src="images/azul.png"></img>
<img id="verde" class="hidden" src="images/verde.png"></img>
<img id="rojo" class="hidden" src="images/rojo.png"></img>
<img id="amarillo" class="hidden" src="images/amarillo.png"></img>
<canvas id="mainCanvas" width="640" height="480">
</canvas>
</section>
