
@import './bones/colors.scss';
@import './bones/components/navbar.scss';
@import './bones/components/jitsi-room.scss';


html, header, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hidden {
    -webkit-transition: opacity 1s;
    z-index: 0;
    opacity: 0;
}
.visible {
    -webkit-transition: opacity 1s;
    z-index: 1;
    opacity: 1;
}

.frame {
    position: absolute;
    left: 40px;
    width: 650px;
    height: 500px;
    font-family: "danube";
    color: rgb(172, 212, 238);
    text-shadow: 0px 0px 20px #0051ff;
    -webkit-user-select: none;
    font-size: 25px;
}

.imgframe{
    position: absolute;
    right: 200px;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: justify;
    font-size: 18px
}

.container2 {
    display: block;
    width: 50%;
    margin: auto;

  }

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .dissapear {
    box-shadow: 0 0 50px white;
    filter: brightness(250%);
  }






/* puzzle game */
.webcam {
    position: relative;
    vertical-align: top;
    width: 200px;
    -webkit-box-reflect: below 0px
        -webkit-gradient(linear, left top, left bottom,
           from(transparent), to(rgba(255, 255, 255, 0.3)));
}

.gamebutton{
    -webkit-transition: border-radius 1s, text-shadow 1s, color 1s;
    font-family: "danube";
    font-size: 30px;
    color: rgb(182, 26, 81);
    margin: 10px;
    padding: 10px;
    width: 300px;
    background: none;
    text-shadow: 0px 0px 8px white;
    border: 1px solid #dedede;
    border-radius: 3px;
    text-decoration: none;
    border-color: #8dc5da #76b7cf #63abc7;
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.5);
}

.frame button {
    -webkit-transition: border-radius 1s, text-shadow 1s, color 1s;
    font-family: "danube";
    font-size: 30px;
    color: rgb(6, 14, 126);
    margin: 10px;
    padding: 10px;
    width: 300px;
    background: none;
    text-shadow: 0px 0px 8px white;
    border: 1px solid #dedede;
    border-radius: 3px;
    text-decoration: none;
    border-color: #8dc5da #76b7cf #63abc7;
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.5);
}
.frame button:hover {
    border-radius: 20px;
    text-shadow: 0px 0px 50px white;
    color: white;
}
.frame button:active {
    text-shadow: 0px 0px 20px #00FF00;
}
